{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrder": [
    "^[./]",
    "^@headlessui/(.*)$",
    "^@heroicons/(.*)$",
    "^@/api/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "^@/pages/(.*)$",
    "^@/gql/(.*)$",
    "^@/styles/(.*)$",
    "^@/public/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
